.web_hover a .fa {
  color: #926fb1;
}

.web_hover:hover {
  background-color: #926fb1;
  margin-left: auto;
  margin-right: auto;
}

.web_hover:hover .web_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.web_hover:hover .web_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.web_hover:hover .web_contents .content_position a {
  background-color: #79539a;
}

.web_hover:hover a .fa {
  color: white;
}

.it_hover a .fa {
  color: #4183d7;
}

.it_hover:hover {
  background-color: #4183d7;
  margin-left: auto;
  margin-right: auto;
}

.it_hover:hover .it_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.it_hover:hover .it_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.it_hover:hover .it_contents .content_position a {
  background-color: #286abd;
}

.it_hover:hover a .fa {
  color: white;
}

.telecoms_hover a .fa {
  color: #d64541;
}

.telecoms_hover:hover {
  background-color: #d64541;
  margin-left: auto;
  margin-right: auto;
}

.telecoms_hover:hover .telecoms_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.telecoms_hover:hover .telecoms_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.telecoms_hover:hover .telecoms_contents .content_position a {
  background-color: #bc2c28;
}

.telecoms_hover:hover a .fa {
  color: white;
}

.bespoke_hover a .fa {
  color: #67809f;
}

.bespoke_hover:hover {
  background-color: #67809f;
  margin-left: auto;
  margin-right: auto;
}

.bespoke_hover:hover .bespoke_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.bespoke_hover:hover .bespoke_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.bespoke_hover:hover .bespoke_contents .content_position a {
  background-color: #526781;
}

.bespoke_hover:hover a .fa {
  color: white;
}

.digital_hover a .fa {
  color: #2eec71;
}

.digital_hover:hover {
  background-color: #2eec71;
  margin-left: auto;
  margin-right: auto;
}

.digital_hover:hover .digital_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.digital_hover:hover .digital_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.digital_hover:hover .digital_contents .content_position a {
  background-color: #25a25a;
}

.digital_hover:hover a .fa {
  color: white;
}

.cybers_hover a .fa {
  color: #f62459;
}

.cybers_hover:hover {
  background-color: #f62459;
  margin-left: auto;
  margin-right: auto;
}

.cybers_hover:hover .cybers_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.cybers_hover:hover .cybers_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.cybers_hover:hover .cybers_contents .content_position a {
  background-color: #de093f;
}

.cybers_hover:hover a .fa {
  color: white;
}

.card_web {
  color: black;
}

.card_web .web_icon_background {
  background-color: #926fb1;
}

.card_web .btn_web {
  background-color: #79539a;
  color: white;
}

.card_web:hover {
  background-color: #926fb1;
  color: white;
}

.card_web:hover .web_icon_background {
  background-color: white;
}

.card_web:hover .btn_web,
.card_web:hover .fa {
  color: #926fb1;
}

.card_web:hover .btn {
  background-color: white;
}

.card_it {
  color: black;
}

.card_it .it_icon_background {
  background-color: #4183d7;
}

.card_it .btn_it {
  background-color: #286abd;
  color: white;
}

.card_it:hover {
  background-color: #4183d7;
  color: white;
}

.card_it:hover .it_icon_background {
  background-color: white;
}

.card_it:hover .btn_it,
.card_it:hover .fa {
  color: #4183d7;
}

.card_it:hover .btn {
  background-color: white;
}

.card_telecoms {
  color: black;
}

.card_telecoms .telecoms_icon_background {
  background-color: #d64541;
}

.card_telecoms .btn_telecoms {
  background-color: #bc2c28;
  color: white;
}

.card_telecoms:hover {
  background-color: #d64541;
  color: white;
}

.card_telecoms:hover .telecoms_icon_background {
  background-color: white;
}

.card_telecoms:hover .btn_telecoms,
.card_telecoms:hover .fa {
  color: #d64541;
}

.card_telecoms:hover .btn {
  background-color: white;
}

.card_bespoke {
  color: black;
}

.card_bespoke .bespoke_icon_background {
  background-color: #67809f;
}

.card_bespoke .btn_bespoke {
  background-color: #526781;
  color: white;
}

.card_bespoke:hover {
  background-color: #67809f;
  color: white;
}

.card_bespoke:hover .bespoke_icon_background {
  background-color: white;
}

.card_bespoke:hover .btn_bespoke,
.card_bespoke:hover .fa {
  color: #67809f;
}

.card_bespoke:hover .btn {
  background-color: white;
}

.card_digital {
  color: black;
}

.card_digital .digital_icon_background {
  background-color: #2eec71;
}

.card_digital .btn_digital {
  background-color: #25a25a;
  color: white;
}

.card_digital:hover {
  background-color: #2eec71;
  color: white;
}

.card_digital:hover .digital_icon_background {
  background-color: white;
}

.card_digital:hover .btn_digital,
.card_digital:hover .fa {
  color: #2eec71;
}

.card_digital:hover .btn {
  background-color: white;
}

.card_cybers {
  color: black;
}

.card_cybers .cybers_icon_background {
  background-color: #f62459;
}

.card_cybers .btn_cybers {
  background-color: #de093f;
  color: white;
}

.card_cybers:hover {
  background-color: #f62459;
  color: white;
}

.card_cybers:hover .cybers_icon_background {
  background-color: white;
}

.card_cybers:hover .btn_cybers,
.card_cybers:hover .fa {
  color: #f62459;
}

.card_cybers:hover .btn {
  background-color: white;
}
/*# sourceMappingURL=mixins.css.map */