$colours: (
    web  #926fb1 #79539a,
    it  #4183d7 #286abd,
    telecoms  #d64541 #bc2c28,
    bespoke  #67809f #526781,
    digital  #2eec71 #25a25a,
    cybers  #f62459 #de093f,
);

$navigation-back: #333645;
$navigation-border-lgt: #857c91;
$navigation-border-drk: #434550;